@page "/kenticologger"

<h1>[WORK IN PROGRESS] Kentico Logger</h1>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Event Type</th>
        <th>Event Name</th>
        <th>Log Entry</th>
    </tr>
</table>

<button class="btn btn-primary" @onclick="Refresh">Refresh</button>

@code
{
    private void Refresh()
    {
        
    }
}